---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import stockResults from '../../../stock_results.json';

import StockTable from '../components/react/StockTable.jsx';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header title={SITE_TITLE} />
        <main>
            <p>Aquí le ofrecemos información basada en nuestro análisis utilizando aprendizaje automático.</p>
            
            <StockTable stockResults={stockResults} client:visible />
        </main>
        <Footer />
    </body>
</html>
